* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333;
  background-color: #FFF;
}

form {
  padding: 0 8rem;
}

label {
  display: block;
  width: 100%;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
}

label > p {
  text-align: center;
  padding: 3rem;
  font-size: 4rem;
  animation: p;
  animation-duration: 2.9s;
  animation-iteration-count: infinite;
}

@keyframes p {
  0% {
    letter-spacing: 0;
    color: rgb(0, 255, 177);
  }
  50% {
    letter-spacing: 2px;
    color: rgb(255, 176, 0);
  }
  100% {
    letter-spacing: 0;
    color: rgb(0, 255, 177);
  }
}

input[type="text"] {
  min-height: 5rem;
  font-size: 3rem;
  text-align: center;
  color: #333;
  border-radius: 4px;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 3rem;
  background-color: rgba(238, 46, 46, 0.92);
  border: 0;
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  transition: all .2s;
  margin-top: 2rem;
  color: #fff;
  border: 1px solid #666;
}

button:hover {
  height: 11rem;
  width: 11rem;
  background-color: rgba(150, 0, 255, 0.39);
  color: #fff;
  transform: translateY(2rem);
  font-size: 2.6rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6rem rgba(255, 0, 0, 1);
  animation-name: b;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  text-shadow: 0px 0px 1rem #000;
}

@keyframes b {
  0% {
    background-color: rgba(145, 0, 247, 0.56);
    color: rgba(145, 0, 247, 0.56);
    box-shadow: 0 0 6rem rgba(255, 0, 0, 1);
    transform: rotate(0);
  }
  25% {
    background-color: rgba(150, 0, 255, 0.39);
    box-shadow: 0 0 6rem rgba(0, 0, 0, 1);
    transform: rotate(40deg);
    color: rgba(150, 0, 255, 0.39);
  }
  70% {
    background-color: rgba(18, 246, 205, 0.56);
    box-shadow: 0 0 6rem rgba(0, 61, 242, 1);
    color: rgba(18, 246, 205, 0.56);
  }
  100% {
    background-color: rgba(145, 0, 247, 0.56);
    box-shadow: 0 0 6rem rgba(255, 0, 0, 1);
    transform: rotate(-360deg);
    color: rgba(145, 0, 247, 0.56);
  }

}
